<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>宜泉资本，您的理财专属通道</title>
    <meta name="Keywords" content="宜泉资本，宜泉资本官网，个人理财，新手理财，投资理财产品，房月盈，个人投资理财" />
    <meta name="Description" content="宜泉资本（www.ekeyfund.com）是一家提供由优质不动产担保的线上金融理财服务平台，采取互联网+金融+不动产全新个人理财模式，持之以恒地贯彻普惠自由的个人投资理财观念，个人理财用户通过宜泉资本官网进行理财，实现个人理财收益." />
    <link rel="stylesheet" type="text/css" href="/skins/default/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/skins/default/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/plugins/swiper/swiper-3.4.2.min.css"/>
    <script type="text/javascript" src="/js/zepto.min.js"></script>
    <script type="text/javascript" src="/plugins/swiper/swiper.min.js"></script>
    <script src="/js/vue.min.js"></script>
    <script src="/js/vue-resource.min.js"></script>
    <script src="/js/public.js"></script>
</head>
<body>
<div class="index_box"  id="app" v-cloak>
    <div class="banner relative">
        <div class="message-icon-box" @click="messageLink">
            <a href="javascript:void(0)">
                <img alt="" src="/skins/default/images/messge_icon.png" />
            </a>
            <span class="message_num font01rem" v-if="data.isLogin ==='Y'& data.unLookNum>=1" v-text="data.unLookNum" ></span>
        </div>

        <div class="swiper-banner swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="bannerList in data.bannerList" onclick="SaFun.banner('','首页banner')">
                    <a target="_blank" :href="bannerList.linkUrl"><img :src="bannerList.imgUrl" alt=""></a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="bg-white nav_bar text-center mar-t-10" >
        <a class="text-center col-xs-3" :href="iconList.linkUrl" v-for="iconList in data.iconList">
            <div><img :src="iconList.iconUrl" alt=""/></div>
            <div class="mar-t-5 fs28 c6" v-text="iconList.title"></div>
        </a>
    </div>
    <!--sss-->
    <div class="project_exhibition bg-white pad-b-15 pad-t-10" :id="data.mainBorrow.borrowId">
        <div class="exhibition_title">

            <template v-if="data.mainBorrow.borrowType==='EXPERIENCE'">
                <img src="/skins/default/images/newstyle.png" class="activ_tag1" alt="">
                <span class="yb_name1" >体验金标</span>
            </template>
            <template v-if="data.mainBorrow.borrowType!='EXPERIENCE'">
                <span class="qt_crash c9">100元起投</span>
                <span class="yb_name3" v-if="data.mainBorrow.borrowType==='GYHOUSE'" >房月盈</span>
                <span class="yb_name3" v-if="data.mainBorrow.borrowType==='GYCAR'" >车满盈</span>
                <span class="yb_name3" v-if="data.mainBorrow.borrowType==='NEWUSER'" >新手标</span>
            </template>
            <!-- <template v-if="data.mainBorrow.borrowType!='EXPERIENCE'">
                <span class="qt_crash c9 " >100元起投</span>
                <template v-if="data.mainBorrow.borrowActivityIcon==''">
                    <span class="yb_name3" v-if="data.mainBorrow.borrowDuration==='3'" >房月盈(季标)</span>
                    <span class="yb_name3" v-if="data.mainBorrow.borrowDuration==='1'" >房月盈(月标)</span>
                    <span class="yb_name3" v-if="data.mainBorrow.borrowDuration==='12'" >房月盈(年标)</span>
                </template>
                <template v-else>
                    <img :src="data.mainBorrow.borrowActivityIcon" class="activ_tag2"/>
                    <span class="yb_name3" v-if="data.mainBorrow.borrowDuration==='3'" >房月盈(季标)</span>
                    <span class="yb_name3" v-if="data.mainBorrow.borrowDuration==='1'" >房月盈(月标)</span>
                    <span class="yb_name3" v-if="data.mainBorrow.borrowDuration==='12'" >房月盈(年标)</span>
                </template>

            </template> -->
        </div>
        <div class="exhibition_data">
            <div class="exhibition_data_left">
                <div class="cblue">
                    <span class="font05rem" >{{data.mainBorrow.borrowRate-data.mainBorrow.addRate|capitalizeg}}</span>%
                    <span v-text="data.mainBorrow.addRate==='0.0'?'':'+'+data.mainBorrow.addRate+'%'"></span>
                </div>
                <div class="c9">约定年化收益率</div>
            </div>
            <div class="exhibition_data_right">
                <div class="cblue">
                    <span class="font05rem" v-text="data.mainBorrow.borrowDuration"></span>
                    <span v-if="data.mainBorrow.borrowType==='EXPERIENCE'">天</span>
                    <span v-else-if="data.mainBorrow.borrowType==='GYHOUSE'">个月</span>
                    <span v-else-if="data.mainBorrow.borrowType==='NORMAL'">个月</span>
                    <span v-else-if="data.mainBorrow.borrowType==='MAKE'">个月</span>
                </div>
                <div class="c9">投资期限</div>
            </div>
        </div>
        <div class="bottom bg-white">
            <template v-if="data.mainBorrow.borrowType!='EXPERIENCE'">
                <div  class="data_progress" >
                    <div  class="progressin" :style="{width:data.mainBorrow.raiseRate+'%'}"></div>
                </div>
            </template>

            <p v-if="data.mainBorrow.borrowType==='EXPERIENCE'" class="fs24 c999 mar-t-10 disflex justify_sb"></p>
            <p v-else class="fs24 c999 mar-t-10 disflex justify_sb"><span>剩余可投{{data.mainBorrow.borrowMoney-data.mainBorrow.raiseMoney | capitalize |capitalizeq}}元</span><span v-text="data.mainBorrow.raiseRate +'%'"></span></p>
        </div>

        <div class="btn_data">
            <template v-if="data.mainBorrow.borrowType==='EXPERIENCE'" >
                <template v-if="data.isLogin ==='Y'">
                    <a class="btn_b" @click="investRight(data.mainBorrow.borrowId)">立即投资 </a>
                </template>
                <template v-else>
                    <a class="btn_b" @click="investRight(data.mainBorrow.borrowId)">立即注册送10000元体验金 </a>
                </template>
            </template>
            <template v-else>
                <template v-if="data.mainBorrow.buttonBg===''&&data.mainBorrow.buttonText===''">

                    <a class="btn_a" @click="projectLink(data.mainBorrow.borrowId)">精选理财，点我疯抢</a>
                </template>
                <template v-else>
                    <a class="btn_a" :style="{backgroundImage:'url(data.mainBorrow.buttonBg)'}" v-text="data.mainBorrow.buttonText" @click="projectLink(data.mainBorrow.borrowId)"></a>
                </template>
            </template>

            <!--<template v-else><a class="btn_a" @click="investRight">精选理财，点我疯抢</a></template>-->
        </div>



    </div>
    <!--ssss-->
    <div class="project_ls mar-t-10" v-for="listBorrow in data.listBorrow" :id="listBorrow.borrowId" @click="projectLink(listBorrow.borrowId)">
        <div class="project">
            <div class="top disflex"><span class="fs28 title" v-text="listBorrow.borrowName">房月盈SHAO3366</span><span class="time fs24 c999"></span>
                <template v-if="listBorrow.borrowActivityIcon==''"></template>
                <template v-else><img :src="listBorrow.borrowActivityIcon" class="activ_tag" alt=""></template>
            </div>
            <div class="disflex center">
                <div class="rate">
                    <p class="fs28 color-theme">
                        <template v-if="listBorrow.borrowRate==='0.0'">
                            <span class="fs48" >0</span>
                        </template>
                        <template v-else>
                            <span class="fs48" >{{listBorrow.borrowRate-listBorrow.addRate|capitalizeg}}</span>
                        </template>%<span v-text="listBorrow.addRate==='0.0'?'':'+'+listBorrow.addRate+'%'"></span></p>
                    <span class="c999 fs24 mar-t-5">约定年化收益率</span>
                </div>
                <div class="time_span">
                    <p class="fs24 mar-b-5 mar-t-10 c999">{{listBorrow.borrowDuration}}个月投资期限</p>
                    <span class="jx fs22" v-if="listBorrow.useVoucher==='CANUSE'||listBorrow.useVoucher==='CASHCOUPON'">加息券</span>
                    <span class="xj mar-l-5 fs22" v-if="listBorrow.useVoucher==='CANUSE'||listBorrow.useVoucher==='CASHVOCHER'">现金券</span>
                </div>
            </div>
            <div class="bottom bg-white">
                <div class="data_progress">
                    <div class="progressin" :style="{width:listBorrow.raiseRate+'%'}"></div>
                </div>
                <p class="fs24 c999 mar-t-10 disflex justify_sb"><span>剩余可投{{listBorrow.borrowMoney-listBorrow.raiseMoney | capitalize|capitalizeq}}元</span><span>{{listBorrow.raiseRate}}%</span></p>
            </div>
        </div>
    </div>

    <div class="cout bg-white">
        <div class="cout_left">
            <div class="mar-t-15">
                <span class="fs32 c3">{{data.sumTransMoney | capitalizeq}}</span>
            </div>
            <div class="c9 fs24">累计交易金额(万元)</div>
        </div>
        <div class="cout_right">
            <div class="mar-t-15">
                <span class="c3 fs32" v-text="sumRegistNumber"></span>
            </div>
            <div class="c9 fs24">累计理财会员(人)</div>
        </div>
    </div>

    <div class="certificate text-center c9 fs24" style="margin-bottom: 12px;padding-top:10px;">
        <img src="/skins/default/images/safety.png" /><span style="vertical-align: bottom;margin-left: 6px;">由第三方资金托管提供专业资金托管服务</span>
    </div>

</div>
@@include('../include/foot.html',{
"curMenu":"0"
})
<div id="activty_pop">
    <a class="anneversary_box" id="activity_box" :href="data.lowerRightCornerActivityUrl">
        <img :src="data.lowerRightCornerImgUrl" alt="">
    </a>
    <div class="activty_dream" :class="{hide:isActive}">
        <div class="bounceIn animated">
            <img :src="data.floatWindowImgUrl" alt="" class="activty_dream_img">
            <a :href="data.floatWindowActivityUrl" class="right_get" >
                <img :src="data.floatWindowBtnUncheckImgUrl" class="right_getImg"/>
            </a>
            <span class="close_activity" @click="close_activity()"><img src="../../images/closeActivity.png" /></span>
        </div>
    </div>
</div>
</body>
<script src="/js/index.js"></script>

<script>
    ga.massege();
    ga.activity();
    var mySwiperBanner = new Swiper('.swiper-banner', {
        pagination : '.swiper-pagination',
        speed: 400,
        spaceBetween:0,
        loop : true,
        autoplay : 4000,
        autoplayDisableOnInteraction : false
    });
    setTimeout(function(){
        console.log(sa.store.getDistinctId());
    }, 2000);
</script>
</html>
