<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
	<meta name="format-detection" content="telephone=no" />
	<title>登录</title>
	<link rel="stylesheet" href="/skins/default/css/public.css"/>
	<link rel="stylesheet" href="/skins/default/css/base.css"/>
	<link rel="stylesheet" href="/plugins/swiper/swiper-3.4.2.min.css"/>
	<script src="/js/zepto.min.js"></script>
	<script src="/js/tongdun.js"></script>
	<script src="/js/public.js"></script>
</head>
<body class="re lo bg-white">
	@@include('../include/head.html',{
		"title":"登录",
		"isback":"false"
	})
	<div class="container" id="lo">
		<div class="logo pad-t-30">
			<div class="text-center logo_box"><img src="/images/login_logo_blue.png" alt=""></div>
			<p class="text-center mar-t-10">宜泉资本</p>
		</div>
		<div class="form page">
			<div class="disflex relative" :class="{active:inPsActive[0]}">
				<i class="icon_user"></i>
				<input type="tel" maxlength="11" placeholder="请输入手机号码" class="inp_phone" v-model="inpPhone" @keyUp="keyUpInp(0)" @focus="inpFocus(0)">
				<i class="clear_phone" @click="clearText(0)" v-show="showClearPhone"></i>
			</div>
			<div class="disflex relative mar-t-10" :class="{active:inPsActive[1]}">
				<i class="icon_psw"></i>
				<input type="password" placeholder="请输入登录密码" class="inp_psw" v-model="inpPsw" @keyUp="keyUpInp(1)" @focus="inpFocus(1)" v-if="isOpenEye" maxlength="16"/>
				<input type="type" placeholder="请输入登录密码" class="inp_psw" v-model="inpPsw" @keyUp="keyUpInp(1)" @focus="inpFocus(1)" v-if="!isOpenEye" maxlength="16"/>
				<i class="eye" :class="{eye_open:isOpenEye}" @click="eyePsw"></i>
				<i class="clear_psw" @click="clearText(1)" v-show="showClearPsw"></i>
			</div>
		</div>
		<div class="pad-l-15 pad-r-15">
			<input type="button" value="登录" class="btn_next" @click="loginMain">
		</div>
		<p class="pad-l-15 pad-r-15 disflex justify_sb mar-t-10"><a href="register.html" class="color-theme fs28 show">立即注册</a><a href="find_psw.html" class="fs28 c999 show">忘记密码</a></p>
	</div>


<script src="/js/vue.min.js"></script>
<script src="/js/base.js"></script>
<script>
	vms.login();
</script>

<script>
    $(function(){
        if(true){
            $('header .back').append('<a class="back_a"  href="/"><i class="icon_close"></i></a>');
        }
    })
</script>
</body>
</html>
