<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
	<meta name="format-detection" content="telephone=no" />
	<title>宜泉资本-国资背景理财平台</title>
	<link rel="stylesheet" href="/skins/default/css/public.css"/>
	<link rel="stylesheet" href="/src/activity/headlines/css/base.css"/>
	<script src="/js/zepto.min.js"></script>
	<script src="/js/public.js"></script>
	<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<script type="text/javascript">
	 function createBg() {
        $('body').append('<div id="modal-bg" style="position:fixed;width:100%;height:100%;left:0;top:0;background:#000;opacity:0.6;z-index:2"></div>');
    }
    function showGz() {
        createBg();
        $('.modal-rule').show();
    }
    function hideGz() {
        $('.modal-rule').hide();
        $('#modal-bg').remove();
    }
    $('.btn-rule-box').bind('click', function() {
    	alert(111);
        showGz();
    })
    $('.btn-close').bind('click', function() {
        hideGz();
    })
</script>
<style type="text/css">
	.modal-rule {
    position: fixed;
    width: 86%;
    height: 70%;
    left: 7%;
    top: 10%;
    z-index: 9;
}
.modal-rule .txt-cont {
    height: 80%;
    background: #fff;
    padding: 15px;
    line-height: 2.2;
    margin-top: 5px;
    font-size: 0.875rem;
    border-radius: 15px;
}
.modal-rule .txt-gz {
    height: 90%;
    overflow: auto;
}
.btn-rule-box {
    width: 23%;
    height: 40px;
    position: absolute;
    top: -50px;
    right: 3%;
}
</style>
<body class="re sr">
	<div class="container1" id="re" v-cloak>
		<img src="/src/activity/headlines/images/cps_01.jpg" />
		<img src="/src/activity/headlines/images/cps_02.jpg" />
		<img src="/src/activity/headlines/images/cps_03.jpg" />
		<img src="/src/activity/headlines/images/cps_04.jpg" />
		<img src="/src/activity/headlines/images/cps_05.jpg" />
		<div class="relative">		
			<span class="btn-rule-box" @click="showGz()"></span> 
		</div>
		<img src="/src/activity/headlines/images/cps_06.jpg" />
		<div class="one">
			<div class="form page">
				<div class="disflex relative" :class="{active:inPsActive[0]}">
					<i class="icon_user"></i>
					<input type="tel" v-model="inpPhone" @focus="inpFocus(0)" placeholder="请输入手机号码" class="inp_phone" maxlength="11">
					<p v-show="errorphone" class="errorphone errortip" @click="hideError(0)" >手机号格式输入错误</p>
					<i class="icon_clear" @click="clearText(0)" v-show="showClearPhone"></i>
				</div>
				
			</div>
		</div>
		<p class="text-center mar-t-15 mar-b-15 color-white">
		<div class="two page">
			<div class="border2 code disflex justify_sb bg-white relative" :class="{active:inPsActive[2]}">
				<i class="icon_img"></i>
				<input type="text" placeholder="输入图片验证码" class="inp_code outline_no" v-model="pictureCode" @focus="inpFocus(2)" min="4" maxlength="4" />
				<p v-show="errorpictureCode" class="errorphone1 errortip" @click="hideError(1)" >图片验证码输入错误</p>
				<i class="clear_psw" @click="clearText(2)" v-show="showpictureCode"></i>
				<img :src="pictureUrl" class="picture_code_img" id="imgcode" @click="refreshPicture">
			</div>
			<div class="border2 code disflex justify_sb mar-t-15 relative" :class="{active:inPsActive[3]}">
				<i class="icon_tell"></i>
				<input type="text" placeholder="手机验证码" class="inp_code outline_no" v-model="phoneCode" @focus="inpFocus(3)" min="4" maxlength="4" />
				<p v-show="errorphoneCode" class="errorphone2 errortip" @click="hideError(2)" >短信验证码输入错误</p>
				<i class="clear_psw" @click="clearText(3)" v-show="showphoneCode"></i>
				<span type="button" v-text="countTime" class="fs24 disflex justify_c alignitem_c btn_getcode" :class="{ 'bg-gray': isPhoneCode }" @click="getPhoneCode"></span>
			</div>
			<div class="disflex relative mar-t-10" :class="{active:inPsActive[1]}"><i class="icon_psw" v-cloak></i>
					<input type="password" placeholder="6-16位字符，区分大小写" class="inp_psw" v-show="isOpenEye" @focus="inpFocus(1)" v-model="inpPsw" min="6" maxlength="16" />
					<input type="text" placeholder="6-16位字符，区分大小写" class="inp_psw" v-show="!isOpenEye" @focus="inpFocus(1)" v-model="inpPsw" min="6" maxlength="16"/>
					<p v-show="errorinpPsw" class="errorphone3 errortip" @click="hideError(3)" >密码输入错误</p>
					<i class="clear_phone" @click="clearText(1)" v-show="showClearPsw"></i>
					<i class="eye" :class="{eye_open:isOpenEye}" @click="eyePsw"></i>
			</div>
			
			<p class="disflex alignitem_c cff mar-t-10">
				<input type="checkbox" name="xieyi" id="xieyi" v-model="isXieYi">
				<label for="xieyi" class="fs24">我已阅读并同意<a href="/src/base/rigisterxy.html" class="fs24 cff">《宜泉资本注册服务及隐私保护协议》</a>
				</label>
			</p>
			<div class="">
				<input type="button" value="立即注册" class="btn_register1" @click="regisMain">
			</div>
		</div>
		<img src="/src/activity/headlines/images/cps_08.jpg" />
		<img src="/src/activity/headlines/images/cps_09.jpg" />
		<div class="btnlink">
			<a class="rightget1" @click="rightget"></a>
		</div>
		<img src="/src/activity/headlines/images/cps_10.jpg" />
		<img src="/src/activity/headlines/images/cps_11.jpg" />
		<img src="/src/activity/headlines/images/cps_12.jpg" />
		<img src="/src/activity/headlines/images/cps_13.jpg" />
		<div class="modal-rule hide">
			<div class="clearfix">
				<img src="/src/activity/headlines/images/btn_close.png" class="btn-close pull-right" alt=""
					 width="44" height="44" @click="hideGz()"/>
			</div>
			<div class="txt-cont">
				<h3 class="text-center">活动规则</h3>
				<div class="txt-gz">
					1、 注册送10000元体验金、18元现金红包、28元现金红包；开户送88元现金券、128元现金券；充值送218元现金券、518元现金券。每个用户仅限参加一次。<br/>

					
					 
		2、体验金券的有效期为发放后7天、现金券的有效期为发放后7天，现金券每次投资只能使用一张，获得后在我的卡券内查看。 <br/><br/>

					3、体验金仅适用于投资体验金专享标，到期后获得利息收益，收益直接进入账户余额，可以投资和提现。
		<br/><br/>

					4、体验金投资所得收益部分归客户所有，本金部分由平台收回。<br/><br/>

					5、<span class="color-red">18元现金券，单笔投资满2000元使用；<br/>
		28元现金券，单笔投资6000元使用；<br/>
		88元现金券，单笔投资8000元、期限3个月及以上标的适用;<br/>
		128元现金券，单笔投资10000元、期限3个月及以上标的适用;<br/>
218元现金券，单笔投资8000元、期限6个月及以上标的适用;<br/>518元现金券，单笔投资15000元、期限6个月及以上标的适用;</span>
		<br/><br/>

					
		6、对活动如有任何疑问，敬请咨询客服热线：<br/>400-109-2626<br/><br/>

					
					
				</div>
			</div>
		</div>


	</div>
	</body>
	<script src="/js/vue.min.js"></script>
	<script src="/src/activity/headlines/js/activity.js"></script>
	<script type="text/javascript">
		var nowurl = window.location.href;
			nowurl=encodeURI(nowurl);
  		var pid=util.getRequest(nowurl,"pid");
  		var userid=util.getRequest(nowurl,"userid");
	var wxshare  = {};
	var appId = '';
		$.ajax({
			url: Helper.basePath+'weixinCore/getjsapiTikcet.htm',
			type: 'POST',
			dataType: 'json',
			xhrFields: {
				withCredentials: true
			},
			async:false,
			data: {
			url : window.location.href
			}
		})
		.done(function(data) {
			var data = JSON.parse(data);
			//console.log(data);
			wxshare = data;
		})
		.fail(function() {
			console.log("error");
		})
//		var myfriends  = {};
//		$.ajax({
//			url: Helper.basePath+'member/share.htm',
//				type: 'POST',
//				dataType: 'json',
//				xhrFields: {
//		      	withCredentials: true
//		   		}
//			})
//			.done(function(data) {
//				var _data = JSON.parse(data);
//				myfriends = _data;
//              console.log(myfriends.recommendCode);
//
//              //alert(myfriends.recommendCode);
//
//			})
//			.fail(function() {
//				console.log("error");
//			})

	wx.config({
		debug : false, //调式模式，设置为ture后会直接在网页上弹出调试信息，用于排查问题
		appId : wxshare.appId,
		timestamp :  wxshare.timestamp,
		nonceStr :  wxshare.nonceStr,
		signature :  wxshare.signature,
		jsApiList : [ //需要使用的网页服务接口
		      		'onMenuShareTimeline',
		      		'onMenuShareAppMessage',
		    		'showMenuItems',
		    		'hideMenuItems'
		]
	});

	wx.ready(function() {
		// 批量隐藏菜单项
		wx.hideMenuItems({
			menuList : [ 'menuItem:readMode', // 阅读模式
			'menuItem:copyUrl',// 复制链接
			'menuItem:openWithSafari', 'menuItem:share:email',
					'menuItem:openWithQQBrowser', 'menuItem:delete',
					'menuItem:share:qq', 'menuItem:share:weiboApp',
					'menuItem:share:facebook', 'menuItem:share:QZone',
					'menuItem:exposeArticle', 'menuItem:share:appMessage',
					'menuItem:share:timeline', 'menuItem:setFont' ],
			success : function(res) {

			},
			fail : function(res) {

			}
		});
		// 批量显示菜单项
		wx.showMenuItems({
			menuList : [
			"menuItem:share:timeline",//分享到朋友圈
			"menuItem:share:appMessage",//分享给好友
			'menuItem:favorite', // 收藏
			'menuItem:profile', // 查看公众号（已添加）
			'menuItem:addContact' // 查看公众号（未添加）
			],
			success : function(res) {
			},
			fail : function(res) {
			}
		});

	});

    wx.ready(function() {
			wx.onMenuShareAppMessage({
				title : '宜泉资本-国资背景理财平台',
				desc : '新手专享好福利：10000元体验金+累计998元现金券大礼包等你拿',
				link : Helper.webPath+'/src/activity/headlines/default.html?pid='+pid+'&userid='+userid,
				imgUrl : Helper.webPath+'/src/activity/headlines/images/shared.jpg',
				success : function(res) {
						window.location.href=Helper.webPath+'/src/activity/headlines/default.html?pid='+pid+'&userid='+userid;
								
							},
							cancel : function(res) {
								alert('已取消');
							}
						});
				//2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
				wx.onMenuShareTimeline({
					title : '宜泉资本-国资背景理财平台',
					link : Helper.webPath+'/src/activity/headlines/default.html?pid='+pid+'&userid='+userid,
					imgUrl : Helper.webPath+'/src/activity/headlines/images/shared.jpg',
					success : function(res) {
							window.location.href=Helper.webPath+'/src/activity/headlines/default.html?pid='+pid+'&userid='+userid;
							},
							cancel : function(res) {
								alert('已取消');
							}
						});
			});
</script>
	<script>
		vms.shareRegister();
		
	//调用统计代码
	if(pid==='HDRELZ'){
		coutData("f29d4db5855a894dfe7469b78c6df2be");
	}
	else if(pid==='ODRDJN'){
		coutData("e4d751a8e950ebe804e29155b2d3d37e");
	}
	else if(pid==='IQZKWD'){
		coutData("9db35e7e345c1817b53b18412dd07dc8");
	}
//	else{
//		util.toast('暂无此统计');
//	}
	</script>
</html>